@import './loading.css';

body {
  background: linear-gradient(grey, white);

  background-attachment: fixed;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
}

a.nav-link {
  cursor: pointer;
}
